# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build files
build/
dist/

# IDE files (e.g., for VSCode, WebStorm, etc.)
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Cache directories
.cache/