client@0.1.0 E:\NLP\LangChain\web app\client
+-- @testing-library/jest-dom@5.17.0
+-- @testing-library/react@13.4.0
+-- @testing-library/user-event@13.5.0
+-- axios@1.6.7
+-- react-dom@18.2.0
+-- react-feather@2.0.10
+-- react-scripts@5.0.1
+-- react-type-animation@3.2.0
+-- react@18.2.0
+-- tailwindcss@3.4.1
`-- web-vitals@2.1.4

